<style>
  body
{
    counter-reset: Count-Value;     
}
table
{
    border-collapse: separate;
}
tr td:first-child:before
{
  counter-increment: Count-Value;   
  content: counter(Count-Value) ".";
}
.la{
  color:#428bca;
}
</style>

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Message</title>

  {{>static}}
  
  <!-- Custom styles for this template -->
  <link href="../css/clean-blog.min.css" rel="stylesheet">
 <style>
a{
  color:teal;
}
 </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/">Rahimi Blog</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile">{{username}}</a>
    </li>
        </ul>
      </div>
    </div>
    
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Alireza Rahimi</h1>
            <span class="subheading">Personal Blog that I share my idea</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <div class="container">
      <h2>Message from : <span class="badge badge-secondary"></span></h2>
      <hr>
      <br>
<div class="jumbotron">
  <h3 > Posted by : {{mes.name}}</h3>
  <small>on: {{mes.created_at}}</small>
  <p class="lead">{{mes.message}}</p>
  <hr class="my-4">
  <a href = "mailto: abc@example.com"><p class="lead">Email: {{mes.email}}</p></a>
  <a href="tel:+01-562-867-5309"><p> Phone Number: {{mes.phone}}</p></a>
</div>
    
  </div>

<!-- Footer -->
{{>footer}}

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>
</body>

</html>