<style>
  body
{
    counter-reset: Count-Value;     
}
table
{
    border-collapse: separate;
}
tr td:first-child:before
{
  counter-increment: Count-Value;   
  content: counter(Count-Value) ".";
}
.la{
  color:#428bca;
}
</style>

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Message List</title>

  {{>static}}
  
  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">
 <style>
#link{
  color:white;
}
 </style>
</head>

<body>

  <!-- Navigation -->
  {{> nav}}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Alireza Rahimi</h1>
            <span class="subheading">Personal Blog that I share my idea</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <div class="container">
      <h2>Message Inbox <span class="badge badge-secondary"></span></h2>
      <hr>
      <br>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Send</th>
      <th scope="col">Message</th>
    </tr>
  </thead>
  <tbody>

  {{#each allMessages}}
   <tr>
     <td scope="row"></td>
     <td>{{this.name}}</td>
     <td>{{this.email}}</td>
     <td>{{this.phone}}</td>
     <td>{{this.created_at}}</td>
     <td><a id="link" href="/message/{{this.id}}">Click</a></td>
   </tr>
  {{/each}}
    
  </tbody>
</table>
  </div>

<!-- Footer -->
{{>footer}}
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>
</body>

</html>